*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
h1.centro{
    margin: 15px 0 0 15rem;
}
a{
    font-size: 0.8 rem;
    text-decoration: none;
    color: black;
}
.menu li{
    display: flex;
}
ul{
    list-style: none;
}
ul.centro{
    margin: 15px 15rem 0 0;
    display: flex;
}
ul.centro li{
    margin: 10px;
}
.perma{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-content: space-between;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: #ffc017;
}
a.bottone{
    background-color: black;
    border-radius: 99em;
    padding: 10px;
    color: white;
    text-align: center;
}
.bc-yellow{
    background-color: #ffc017;
    border: 1px solid green;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    overflow: auto;
}
div.centro{
    margin-top: 150px;
    margin-left: 15rem;
}
.animazione{
    border: 1px solid black;
}
main{
    margin: 2em 20% 2em 20%;
}
.position ol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
    border: 1px rgba(255, 255, 255, 0.80);
}
.location{
    display: flex;
    flex-direction: row-reverse;
}
.navbar{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 500px;
    border: 5px solid green;
}
.bgrigio{
    padding: 10px solid grey;
    border-radius: 99em;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}
.content{
    border: 1px solid black;
}
